/* 全局样式 */  
body {  
    font-family: 'Arial', sans-serif;  
    color: #333;  
    margin: 0;  
    padding: 0;  
}  
  
a {  
    color: #007BFF;  
    text-decoration: none;  
    transition: color 0.3s ease;  
} 

#header h1 {  
    margin: 0;  
}

a:hover {  
    color: #0056b3;  
}  
  
/* 头部样式 */  
#header {  
    background-color: #f5f5f5;  
    padding: 20px;  
    display: flex-end;  
    justify-content: space-between; /* 在大屏幕上头部内容左右对齐 */  
}  
  
#header p {  
    margin: 0;  
}  
  
#nav ul {  
    list-style-type: none;  
    margin: 0;  
    padding: 0;  
    display: flex;  
    justify-content: flex-end; /* 导航菜单默认右对齐 */  
}  
  
#nav li {  
    margin-left: 10px;  
}  
  
#nav a {  
    display: block;  
    padding: 5px 10px;  
    border-bottom: 2px solid transparent;  
    transition: border-bottom 0.3s ease;  
}  
  
#nav a:hover {  
    border-bottom: 2px solid #007BFF;  
}  
  
/* 主要内容样式 */  
main {  
    padding: 20px;  
}  
  
h1, h2 {  
    margin-top: 0;  
}  
  
/* 博客链接样式 */  
span a {  
    display: block;  
    margin-bottom: 10px;  
    text-decoration: none;  
    color: #007BFF;  
}  
  
/* 底部样式 */  
#footer {  
    background-color: #f5f5f5;    
    padding: 20px;  
    text-align: center;
    position: fixed;
    left: 0;  
    bottom: 0;  
    width: 100%;
}   
  
/* 响应式布局 */  
@media (max-width: 768px) {  
    /* 当屏幕宽度小于或等于768px时，导航菜单将堆叠显示 */  
    #nav ul {  
        flex-direction: column;  
        align-items: flex-start; /* 垂直堆叠时，对齐到顶部 */  
    }  
      
    #nav li {  
        margin-left: 0; /* 移除左侧间距 */  
        margin-bottom: 10px; /* 添加底部间距以分隔链接 */  
    }    
}